.vscode/**
src/**
node_modules/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
logs/**
CachedProfilesData/**
machineid
nika.log
*.log
out/test/**
out/usage/*.test.js
out/usage/*.test.d.ts
out/usage/*.test.d.ts.map
